{% extends 'base.html' %}
{% block content %}
    <h1>Home</h1>
    <h2>Welcome, {{ user.username }}</h2>
    <p>choose your version</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="v1">version 1</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="v2">version 2</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="v3">version 3</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="v4">version 4</button>
    </form>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock content %}